*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.container{
    padding: 4rem;
}

h1, h2{
    margin-bottom: 0.5rem;
}

h3{
    font-size: 1.25rem;
    margin-bottom:0;
}

p{
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 2rem;
}

code{
    background-color: lightgray;
    font-size: 1rem;
    padding: 0 1rem;
}

.codeblock{
    background-color: lightgray;
    width: max-content;
    padding: 1rem;
    margin-bottom: 2rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:lightblue;
}

.two-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:1rem;
    margin-bottom:1rem;
}

article{
    margin-left:2rem; 
}